 <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>


<form>
  <div class="row">
    <div class="span4">
      <h2> Sign Up </h2>
      <p> List some features here</p>
    </div>
    <div class="span12">
      <form>
        <fieldset>

          <legend>Sign Up</legend>
        


  
  <div class="clearfix">
    <label for="user_username">Username</label>
    <div class="input"><input id="user_username" name="user[username]" size="30" type="text" /></div>
  </div>
  <div class="clearfix">
    <label for="user_email">Email Address</label>
	<div class="input"><input id="user_email" name="user[email]" size="30" type="text" /></div>
  </div>

  <div class="clearfix">
    <label for="user_password">Password</label>
	<div class="input"><input id="user_password" name="user[password]" size="30" type="password" /></div>
  </div>
  <div class="clearfix">
    <label for="user_password_confirmation">Confirm Password</label>
	<div class="input"><input id="user_password_confirmation" name="user[password_confirmation]" size="30" type="password" /></div>
  </div>

  <div class="clearfix">
    <input class="btn primary" name="commit" type="submit" value="Sign up" />&nbsp;<button type="reset" class="btn">Cancel</button>
  </div>

</form>
</div>


