<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>PDF Reader</title>
    <meta name="description" content="">
    <meta name="author" content="">
     <%= stylesheet_link_tag    "application" %>
     <%= javascript_include_tag "application" %>
     <%= csrf_meta_tags %>

</head>

<body>
<!-- start of menu -->
    <div class="topbar">
      <div class="fill">
        <div class="container">
	<a class="brand" href="#">PDF Reader</a>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
	    <form action="" class="pull-right">
            <input class="input-small" type="text" placeholder="Username">
            <input class="input-small" type="password" placeholder="Password">
            <button class="btn" type="submit">Sign in</button>
            </form>
            <button class="btn danger" type="button">Sign in</button>
        </div>
      </div>
    </div>
<!-- end of menu -->

<!-- Start of main container -->
 <div class="container">
<%= yield %>
</div> <!-- End of main container -->
</body>
</html>

