<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>First App</title>
    <meta name="description" content="">
    <meta name="author" content="">
     <%= stylesheet_link_tag    "application" %>
     <%= javascript_include_tag "application" %>
     <%= csrf_meta_tags %>

</head>

<body>
<!-- start of menu -->
    <div class="topbar">
      <div class="fill">
        <div class="container">
	<a class="brand" href="#">First App</a>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
         	<ul class="nav secondary-nav">
                <li><a href="#">Login</a></li>
                <li><a href="#">Sign Up</a></li>
                </ul>
        </div>
      </div>
    </div>
<!-- end of menu -->

<!-- Start of main container -->
 <div class="container">
<%= yield %>
</div> <!-- End of main container -->
</body>
</html>

